PORT = your port number here
MONGODB_URI = your mongodb url here
NODE_ENV = your node environment here
JWT_SECRET = your jwt secret key here
CLOUDINARY_CLOUD_NAME = your cloudinary cloud name here
CLOUDINARY_API_KEY = your cloudinary api key here
CLOUDINARY_API_SECRET = your cloudinary api secret here